<footer>
  <div class="cols">
    <div class="col">
      <h4>اطلاعات تماس</h4>
      <p>تهران، شریعتی</p>
      <p><a class="phone-link" [href]="'tel:' + phone" dir="ltr">{{ phone }}</a></p>
      <div class="social">
        <a class="tag tag-outline" [href]="instagramUrl" target="_blank" rel="noopener noreferrer">اینستاگرام</a>
        <a class="tag tag-outline" [href]="telegramUrl" target="_blank" rel="noopener noreferrer">تلگرام</a>
        <a class="tag tag-outline" [href]="whatsappUrl" target="_blank" rel="noopener noreferrer">واتساپ</a>
      </div>
    </div>

    <div class="col">
      <h4>حساب کاربری</h4>
      <a routerLink="/profile" class="link">سفارش‌ها</a>
      <a routerLink="/profile" class="link">حساب کاربری من</a>
      <a routerLink="/search" class="link">محصولات</a>
      <a routerLink="/cart" class="link">پرداخت</a>
    </div>

    <div class="col">
      <h4>راهنمای خرید</h4>
      <a routerLink="/faq" class="link">سوالات متداول</a>
    </div>
  </div>

  <div class="bottom">
    کلیه حقوق برای این وب‌سایت محفوظ است
  </div>
</footer>
