<footer>
  <div class="cols" *ngIf="showFullFooter()">
    <div class="col">
      <h4>اطلاعات تماس</h4>
      <p>تهران، شریعتی</p>
      <p>09193757648</p>
      <div class="social" *ngIf="isHome()">
        <span class="tag tag-outline">اینستاگرام</span>
        <span class="tag tag-outline">تلگرام</span>
        <span class="tag tag-outline">واتساپ</span>
      </div>
    </div>

    <div class="col">
      <h4>حساب کاربری</h4>
      <a routerLink="/profile" class="link">سفارش‌ها</a>
      <a routerLink="/profile" class="link">حساب کاربری من</a>
      <a routerLink="/search" class="link">محصولات</a>
      <a routerLink="/cart" class="link">پرداخت</a>
    </div>

    <div class="col">
      <h4>راهنمای خرید</h4>
      <a routerLink="/faq" class="link">سوالات متداول</a>
    </div>
  </div>

  <div class="bottom">
    کلیه حقوق برای این وب‌سایت محفوظ است
  </div>
</footer>
